macro clear(color) {
	unflag TEXTMODE
	flag CLEAR
	load color
	mov accumulator, dc
	unflag CLEAR
}

clk 10
clear WHITE

macro drawChar(x, y, c) {
	flag TEXTMODE

	load x
	mov accumulator, dx

	load y
	mov accumulator, dy

	load c
	mov accumulator, dc
}

drawChar 0, 0, 'h'
drawChar 6, 0, 'a'

drawChar 12, 0, 'l'
drawChar 17, 0, 'l'


drawChar 22, 0, 'o'

drawChar 6, 6, 'w'
drawChar 12, 6, 'e'

drawChar 18, 6, 'l'
drawChar 22, 6, 't'
